<h1>Employee's Info</h1>
<div>
    <img src="<%= @employee.img_url%>" alt="Employee's Picture">
</div>

<p><%= @employee.first_name %></p>
<p><%= @employee.last_name %></p>
<p><%= @employee.alias %></p>
<p><%= @employee.title %></p>
<p><%= @employee.office %></p>
<p><%= @employee.dog.name %></p>



